name: cmake-test

on:
  push:
    branches: [ master ]

jobs:
  build-library:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build 2021_GROUP_02

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: make

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: make test
